//Global variables
$color-gradient: #00C9FF;
$color-brackground-gradient: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  
$color-background-gradient-two: linear-gradient(to right, #92FE9D, #00C9FF);
