@import "ress";
@import "variables";

//import custom fonts

@font-face {
    font-family: "PoppinsBold";
    src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsRegular";
    src: url("../assets/fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: url("../assets/fonts/Poppins-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PoppinsMedium";
    src: url("../assets/fonts/Poppins-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

.v-application {
    font-family: "Poppins", sans-serif !important;
}